*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.cont__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0 ;
}


.cont__img{
    width: 102px;
    height: 102px;
    border-radius: 16px;
    object-fit: contain;
    
}

.cont__txt{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px ;
    font-weight: 600;
    line-height: 120%;
    color: #4E5150;
}
.cont__txt--small{
    font-size: 10px;
    color: #A9A9A9;
}
.cont__txt--big{
    margin: 12px 0 0 0;
}
.cont__txt--second{
    margin: 4px 0 0 0;
}
.cont__txt--el{
    margin: 10px 0 0 0;
}


.cont__list{
    display: flex;
    flex-direction: row;
    width: 270px;
    justify-content: space-around;
    margin: 12px 0 0 0 ;
}
.cont__el{
    width: 78px;
    height: 52px;
    border-radius: 12px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;

}
